.search {
    height: 25px;
    width: 90px;
    border-radius: 10px;
    background: url('search.png') no-repeat;
    background-size: 25px;
    background-position: 0px ;
    padding: 0 0 0 25px ;
    transition: width 1s;

}

.search:focus {
    width: 150px;
}

.search:focus {
    outline: none;
}

.search_div {
    text-align: right;
}

input::-webkit-input-placeholder {
    font-size: xx-small;
}
