
.menu_button {
    position: relative;
    left: 40%;
    color: rgb(87, 87, 87);
    text-align: center;
}

.menu_title {
    color: rgb(88, 88, 88);
}

.menu_ul {
    position: relative;
    left: 20%;
    width: 200px;
    background-color: white;
    border-radius: 3px;
    list-style-type: none;
    display: none;
    z-index: 9999;
}

.submenu {
    list-style-type: none;
    display: none;
}

.submenu_title:hover >.submenu {
    display: block;
}

.menu_ul:hover {
    display: block;
}



.menu_button:hover +.menu_ul {
    display: block;
}

.menu_button:hover >.menu_title >.anticon {
    transform: rotate(-180deg);
}