@import '~antd/dist/antd.css';

.back {
  background-color: lightsteelblue;
}

.top-bar {
  height: 60px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  position: fixed;
  z-index: 9999;
  top: 0;
  box-shadow: -10px 10px 10px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.link {
  color: black;
}


.big-title {
  height: 480px;
  font-weight: bold;
  box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
  overflow: hidden;
}

.mine {
  position: absolute;
  width: 100%;
  top: 40%;
  font-size: 200%;
  text-align: center;
  opacity: 0.6;
  background-color: white;
  z-index: 9998;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}

.roll {
  height: 150px;
  background-color: green;
}

.space {
  height: 30px;
}

.article {
  height: 530px;
  background-color: aqua;
}

.article-img {
  height: 250px;
  background-color: coral;
}

.right-bar {
  height: 5530px;
  background-color: blanchedalmond;
}

.bottom-bar {
  height: 100px;
  background-color: dimgray;
}
